services:
  frontend:
    build:
      context: ./frontend
      args:
        REACT_APP_API_URL: "http://backend:4000"
    ports:
      - "3000:80"
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "4000:4000"
