# ==========================
# PUERTO DEL BACKEND
# ==========================
PORT=4000

# ==========================
# BASE DE DATOS (Supabase)
# ==========================
DATABASE_URL="postgresql://postgres.btnilyrlviaptbsyfwmh:YOUR-PASSWORD@aws-1-us-east-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# ==========================
# JWT (Autenticación)
# ==========================
JWT_SECRET=tu_clave_secreta_super_segura_cambiame_en_produccion_2024
JWT_EXPIRES_IN=7d

# ==========================
# ENTORNO
# ==========================
NODE_ENV=production